---

# The following tasks are based on the instructions found at the following URLs:
# http://wiki.koha-community.org/wiki/Koha_3.10_on_Centos_6.3_x86_64_en
# http://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_id=12549,15405

# TODO: make memcached optional with a parameter
- name: Install Koha dependencies
  include: koha-dependencies-fedora.yml

- name: Configure Apache
  include: apache.yml

- name: Install MySQL server locally
  include: mysql.yml

- name: Download latest Koha
  command: wget http://download.koha-community.org/koha-latest.tar.gz
  args:
    chdir: /tmp
    creates: /tmp/koha-latest.tar.gz

- name: Unpack Koha tarball
  command: tar xaf koha-latest.tar.gz
  args:
    chdir: /tmp

  # Cf. https://github.com/colinsc/koha/blob/master/debian/rules#L6
- name: Run Koha installation with default options
  shell: cd koha*; PERL_MM_USE_DEFAULT=1 perl Makefile.PL; make; make install
  args:
    chdir: /tmp
    creates: /usr/share/koha
  ignore_errors: yes

- name: Configure webserver for Koha
  include: koha-webserver.yml

# TODO: Make language configurable
# TODO: Should this be owned by root?
- name: Install localisation for Koha
  command: perl translate install it-IT
  args:
    chdir: /usr/share/koha/misc/translator/
    creates: /usr/share/koha/intranet/htdocs/intranet-tmpl/prog/it-IT

- name: Build Zebra indices
  command: sudo -u koha ./rebuild_zebra.pl -b -a -r -v
  args:
    chdir: /usr/share/koha/bin/migration_tools/
    creates: /tmp/zebra_koha/rebuild/rebuild..LCK
